      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Migrate Skill</h5>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="text" [(ngModel)]="characterName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
        <button (click)="onMigrate()" type="submit"  class="btn btn-primary">Migrate</button>
      </div>