<div>
    <button class="btn btn-secondary" (click)="createSkill()">New Skill</button>
    <button class=" der btn btn-secondary" (click)="onBack()"> Return</button>
    <!-- <form>
        <label class="name"> Name: </label>
        <label class="desname">{{character.name}}</label><br>
        <label class="titulo"> ItemLvl: </label>
        <label class="des">{{character.itemLvl}}</label><br>
        <label class="titulo"> Class: </label>
        <label class="des">{{character.class}}</label><br>
        <label class="titulo"> Server: </label>
        <label class="des">{{character.server}}</label> <br>
    </form> -->
    <div style=" background-color: white;  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; text-align: center;font-size: 50px;"class="container tit">
        Character
    </div>
    <br>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>ItemLvl</th>
            <th>Class</th>
            <th>Server</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>{{character.name}}</td>
            <td>{{character.itemLvl}}</td>
            <td>{{character.class}}</td>
            <td>{{character.server}}</td>
          </tr>
        </tbody>
      </table>
    <br>
    <div style=" background-color: white;  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; text-align: center;font-size: 50px;"class="container tit">
        Skills
    </div>
    <br>
    <div class="row">
        <app-skill-item style="margin-left: auto;
        margin-right: auto;"
    *ngFor='let skill of skills' 
    [skillInput]="skill" (skillDeleteOutput)="deleteSkill($event)">
    </app-skill-item>
    </div>   
</div>