.titulo{
    font-size:30px; height: 10px; color: aliceblue;
}
.desname{
    font-size:50px;
    height: 10px;
    color: blue;
}
.name{
    font-size:50px; height: 10px; color: aliceblue;
}
.des{
    font-size:30px;
    height: 10px;
    color: blue;
}
.der{
    position: absolute;
    right: 0;
}
.table{
    background-color: honeydew;
}
.tit{
    border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}