<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="testbox">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="banner">
        <h1>Create Character</h1>
      </div>
      <div class="item">
        <div class="name-item">
          <p>Name:</p>
          <input type="text" name="name" [(ngModel)]="name" placeholder="Add Name" />
          <p>Item Level:</p>
          <input type="number" name="itemLvl" [(ngModel)]="itemLvl" placeholder="Add ItemLvl"/>
        </div>
      </div>
      <div class="item">
        <div class="name-item">
          <p>Class:</p>
          <input type="text" name="class"[(ngModel)]="class"  placeholder="Add Class" />
          <p>Server:</p>
          <input type="text" name="server"[(ngModel)]="server"  placeholder="Add Server"/>
        </div>
      </div>
      <div class="item">
        <p>Image Url:</p>
        <input type="text" name="imgUrl"[(ngModel)]="imgUrl"  placeholder="Add imgUrl"/>
      </div>
      <div class="btn-block">
        <button type="submit" value="submit">Save</button>
      </div>
    </form>
  </div>
  <button (click)="onBack()"> Return</button>