<button (click)="onBack()"> Return</button>
<div>
    <form class="frm" (ngSubmit)="onSubmit(skill)">
    <label for="fname">Name:</label><br>
    <input type="text" name="name"[(ngModel)]="skill.name"  placeholder="Add Name"><br>
    <label for="fname">Description:</label><br>
    <input type="text" name="description"[(ngModel)]="skill.description"  placeholder="Add Description"><br>
    <input type="submit" value="save" class="btn btn-dark">
    </form>
</div>