/* .del{
    color: white;
    position: absolute;
    right: 0;
}
.todo{
    background:rgb(177, 183, 192);
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}
.is-complete{
    text-decoration: line-through;
}
.img{
    height: 50px;
    width: 50px;
}
.title{
    font-size:20px; height: 10px; color: blue;
} */
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
    border-radius: 25px;
}
img{
    border: 2px solid gray;
    padding: 20px;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}
.card-product{
    width: 500px;
    height: 300;
    opacity: 0.8;
}
.all{
    height: 100%;
}
.btn{
    margin-left: 3px;
    height:40px;
    width:80px;
}
#del{
    margin-left: 3px; 
}


