<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="all">
    <!-- <p>
        <img class="img" [src]="characterInput.imgUrl">
        <label class="title">Name: </label>
        <label>{{characterInput.name}}</label> 
        <label class="title">ItemLevel: </label>
        <label> {{characterInput.itemLvl}}</label>
        <label class="title">Class: </label>
        <label>{{characterInput.class}}</label> 
        <label class="title">Server: </label>
        <label>{{characterInput.server}}</label>
        <button style="margin-left: 10px; margin-right: 10px;" (click)="onSkill()" class="btn btn-dark"> skills</button>
        <button style="margin-left: 10px;" (click)="onEdit()" class="btn btn-dark">Edit</button>
        <button  (click)="onDelete()"class="del btn btn-danger">Delete</button>
    </p> -->
    <!-- <div class="row"> -->
    <div class="col-6 transp" >
        <figure class="card card-product">
            <div class="img-wrap"><img [src]="characterInput.imgUrl" ></div>
            <figcaption class="info-wrap">
                    <h4 style="text-align: center;" class="title">{{characterInput.name}}</h4>
                    <p class="desc">ItemLevel: {{characterInput.itemLvl}}</p>
                    <p class="desc">Class: {{characterInput.class}}</p>
                    <p class="desc">Server: {{characterInput.server}}</p>
            </figcaption>
            <div class="bottom-wrap">
                <button (click)="onEdit()" class="btn btn-primary float-right"><i class="fa fa-pencil-square-o"></i></button>
                <button id="del" (click)="onDelete()" class="btn btn-sm btn-danger float-right"><i class="fa fa-trash"></i></button>
                <button class="btn btn-sm btn-primary float-right" (click)="onSkill()">Skills</button>
                <button (click)="onFame()" class="btn btn-primary float-right"><i class="fa fa-heart-o"></i>{{characterInput.fame}}</button>
               
                <!-- <div class="price-wrap h5">
                    <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                </div> -->
                 <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
<!-- </div> -->
</div>
