<!-- <h1>Create Skill</h1>
<button (click)="onBack()"> Return</button>
<form class="form" (ngSubmit)="onSubmit()">
    <label for="fname">Name:</label><br>
    <input type="text" name="name"[(ngModel)]="name"  placeholder="Add Name"><br>
    <label for="fname">Description:</label><br>
    <input type="text" name="description"[(ngModel)]="description"  placeholder="Add Description"><br>
    <label for="fname">ImageUrl:</label><br>
    <input type="text" name="imgSkillUrl"[(ngModel)]="imgSkillUrl"  placeholder="Add Image"><br>
    <input type="submit" value="submit" class="btn btn-dark">
</form> -->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="testbox">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="banner">
        <h1>Create Skill</h1>
      </div>
      <div class="item">
        <div class="name-item">
          <p>Name:</p>
          <input type="text" name="name" [(ngModel)]="name" placeholder="Add Name" />
          <p>Description:</p>
          <input type="text" name="description" [(ngModel)]="description" placeholder="Add Description"/>
        </div>
      </div>
      <div class="item">
        <p>Image Url:</p>
        <input type="text" name="imgSkillUrl"[(ngModel)]="imgSkillUrl"  placeholder="Add imgUrl"/>
      </div>
      <div class="btn-block">
        <button type="submit" value="submit">Save</button>
      </div>
    </form>
  </div>
  <button (click)="onBack()"> Return</button>