<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Skill</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" class="frm" (ngSubmit)="onSubmit(skill)">
        <label for="fname">Name:</label><br>
        <input type="text" name="name"[(ngModel)]="skill.name"  placeholder="Add Name"><br>
        <label for="fname">ItemLvl:</label><br>
        <input type="text" name="description"[(ngModel)]="skill.description"  placeholder="Add Description"><br>
        <input  type="submit" value="save" class="btn btn-dark ">
        </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
    <!-- <input type="submit" value="Save" class="btn btn-primary"> -->
  </div>