<footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="wow-logo" class="col-sm-4">
          <img id="blizzarId"src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Blizzard_Entertainment_Logo.svg/1024px-Blizzard_Entertainment_Logo.svg.png" alt="blizzard" class="blizzard-logo">
          <hr class="visible-xs">
        </section>
        <section id="social" class="col-sm-4">
          <div style="color: aliceblue;">siguenos en:</div>
          <a href="https://www.facebook.com/Blizzard/">
          <img id="facebookId" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg">
          </a> 
          <a href="https://twitter.com/Blizzard_Ent">
            <img id="twitterId" src="https://images.vexels.com/media/users/3/137419/isolated/preview/b1a3fab214230557053ed1c4bf17b46c-icono-de-twitter-logo-by-vexels.png">
          </a>
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p style="color:rgb(146, 3, 3);">"Todas las marcas comerciales a las que se hace referencia son propiedad de sus respectivos dueños."</p>
        </section>
      </div>
      <div class="text-center" style="color: aliceblue;">&copy; ©2020 BLIZZARD ENTERTAINMENT, INC. TODOS LOS DERECHOS RESERVADOS.</div>
    </div>
  </footer>

  