  /* FOOTER */
  .panel-footer {
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 35px;
  }
  #hours, #address {
    line-height: 2;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }
  #facebookId{
    height: 40px;
    width: 40px;
  }
  #twitterId{
      height: 45px;
      width: 45px;
  }
  #blizzarId{
      height: 100px;
      width: 300px;
  }
  /* END FOOTER */