<div>
    <button class="btn btn-secondary" [routerLink]="['/newCharacter']">New Character</button>
    <div style=" background-color: white;  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; text-align: center;font-size: 50px;"class="container tit">
        Characters
    </div>
    <br>
    <label style="margin-left: 80px; margin-right: 10px; font-weight: bold;" >OrderBy: </label>
    <select class="custom-select" style="width:200px;" (change)="onChange($event.target.value)">
        <option >name</option>
        <option >class</option>
        <option >server</option>
        <option >itemlvl</option>
    </select>
    <label style="margin-right: 10px;margin-left: 10px; font-weight: bold;">Search By: </label>
    <select class="custom-select" style="width:200px;" (change)="onChange2($event.target.value)">
        <option >server</option>
        <option >class</option>
        <option >Without Filter</option>
    </select>
    <input style="margin-right: 10px;margin-left: 10px;" type="text" [(ngModel)]="inputSearch" placeholder="Criterio de Busqueda">
    <input (click)="onSearch()" type="submit" value="Search" class="btn btn-dark">
    <div class="space"></div>
    <div class="row">
        <app-character-item style="margin-left: auto;
        margin-right: auto;"
            *ngFor='let character of characters' 
            [characterInput]="character" (characterDeleteOutput)="deleteCharacter($event)">
        </app-character-item>
    </div>
</div>
