
    <app-header></app-header>
    <!-- <app-characters></app-characters> -->
    <body class="bg">
        <div class="space"></div>
        <router-outlet></router-outlet>    
    </body>
    <!-- <app-log-in></app-log-in> -->
    <app-footer></app-footer>
