 .container-class {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } 
  .panel-body{
    height:600px ;
    background-image: url(https://depor.com/resizer/j-sSPUfeRSK8_-mfcgP40n-OkEU=/980x528/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/HFTKHCX2AFFHNOWW3ANTZY7TOU.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    background-size: auto;
  } 
  hr {
    border: 2px solid wheat;
    width: 50px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
  }
  .center1{
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .table{
    background-color: honeydew;
}
