
<div class="containers">
    <div class="panel panel-default">
     <div class="panel-body ">
       <div class="view">
         <div class="mask rgba-black-light align-items-center">
           <div class="containers">
             <div class="row">
               <div class="col-md-12 mb-4 white-text text-center">
                 <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong style="color: beige;">Battle for Azeroth</strong></h1>
                 <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                 <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong><a href="https://worldofwarcraft.com/es-es/news/23275631">See more</a></strong></h5>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  <h1 style="text-align: center; color: red;">HALL OF FAME</h1>
  <div  class="center1" style="width: 800px; background-color: gray;" >
  <ngb-carousel style="width: 100;" *ngIf="characters">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  class="center" [src]="characters[0].imgUrl" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{characters[0].name}}</h3>
        <p>{{characters[0].fame}}</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img (click)="onSkill()" class="center" [src]="characters[1].imgUrl" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>{{characters[1].name}}</h3>
        <p>{{characters[1].fame}}</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="center" [src]="characters[2].imgUrl" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3><h3>{{characters[2].name}}</h3></h3>
        <p>{{characters[2].fame}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div> <br>

<table   class="table table-striped table-responsive-md btn-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>ItemLvl</th>
      <th>Class</th>
      <th>Server</th>
      <th>Fame</th>
    </tr>
  </thead>

  <tbody *ngFor='let character of characters'>
    <tr>
      <td>{{character.name}}</td>
      <td>{{character.itemLvl}}</td>
      <td>{{character.class}}</td>
      <td>{{character.server}}</td>
      <td>{{character.fame}}</td>
    </tr>
  </tbody>
</table>
