<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Character</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" class="frm" (ngSubmit)="onSubmit(character)">
        <label for="fname">Name:</label><br>
        <input type="text" name="name"[(ngModel)]="character.name"  placeholder="Add Name"><br>
        <label for="fname">ItemLvl:</label><br>
        <input type="number" name="itemLvl"[(ngModel)]="character.itemLvl"  placeholder="Add ItemLvl"><br>
        <label for="fname">Class:</label><br>
        <input type="text" name="class"[(ngModel)]="character.class"  placeholder="Add Class"><br>
        <label for="fname">Server:</label><br>
        <input type="text" name="server"[(ngModel)]="character.server"  placeholder="Add Server"><br>
        <label for="fname">ImageUrl:</label><br>
        <input type="text" name="imgUrl"[(ngModel)]="character.imgUrl"  placeholder="Add imgUrl"><br>
        <input  type="submit" value="save" class="btn btn-dark ">
        </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
    <!-- <input type="submit" value="Save" class="btn btn-primary"> -->
  </div>