<div class="containers">
    <div class="panel panel-default">
     <div class="panel-body">
      <!-- <video autoplay muted loop>
        <source src="./Video/World of Warcraft Battle for Azeroth - Tráiler cinemático.mp4" id="myVideo" style="background-position: center;">
      </video> -->
       <div class="view">
         <div class="mask rgba-black-light align-items-center">
           <div class="containers">
             <div class="row">
               <div class="col-md-12 mb-4 white-text text-center">
                 <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong style="color: beige;">Battle for Azeroth</strong></h1>
                 <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                 <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong><a href="https://worldofwarcraft.com/es-es/news/23275631">See more</a></strong></h5>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
