/* .form input[type='text'] {
    flex: 10;
    padding: 5px;
  }
  
  .form input[type='submit'] {
    flex: 2;
  } */
  .frm{
    position: relative;
    left: 600px;
  }
  label{
    font-weight: bold;
    color: blue;
  }
  h1{
    position: relative;
    left: 530px;
    color: red;
  }