<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                    <img class="img" [src]="skillInput.imgSkillUrl">
                </div>
                <div class="product-desc">
                    <a class="product-name">{{skillInput.name}}</a>
                    <div class="small m-t-xs">
                        {{skillInput.description}}
                    </div>
                    <button (click)="onEdit()" class="btn btn-primary float-right"><i class="fa fa-pencil-square-o"></i></button>
                    <button id="del" (click)="onDelete()" class="btn btn-sm btn-danger float-right"><i class="fa fa-trash"></i></button>
                    <button (click)="onMigrate()" class="btn btn-primary float-right"><i></i>Migrate</button>
                </div>
            </div>
        </div>
    </div>
    