	  /** HEADER **/
    /* header {
      width: 100%;
      overflow: hidden;
      background: #1e283f;
    }
    .wrapper {
      width: 90%;
      max-width: 2000px;
      margin: auto;
      overflow: hidden;
    }
    header .logo{
      color: #f2f2f2;
      font-size: 50px;
      line-height: 200px;
      float:  left;
      text-decoration: none  !important;
    }
    header nav{
      float: Right;
      line-height: 200px;
    }
    header nav a{
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      line-height: normal;
      font-size: 20px;
      font-weight: bold;
      -webkit-transition:all 500ms ease;  
      -o-transition:all 500ms ease ;
      transition:all 500ms ease;
      border-radius: 50px;
    }
    header nav a:hover{
      background: #f56f3a;
    }
    .contenido p{
      margin-bottom: 1em;
    }
    
    @media screen and (max-width: 950px) {
      header .logo,
      header nav{
          width:100%;
          text-align:center;
          line-height: 100px; 
      }
    } */
    
    /* END HEADER */