<!-- <header>
    <div class="wrapper ">
        <div class="logo">
            <a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/WoW_icon.svg/1200px-WoW_icon.svg.png" alt="logo" style="width: 100px;
                height: 80px;">World of warcraft</a>   
        </div>
        <nav>
            <a ng-show="isLog" [routerLink]="['/character']">Character</a>
            <a href="/">Inicio</a>
        </nav>
    </div>
</header> -->
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#" >
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/WoW_icon.svg/1200px-WoW_icon.svg.png" alt="logo" style="width: 100px" alt="">
            World of warcraft
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" ng-show="isLog" [routerLink]="['/character']">Character</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">LogIn</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>